/tmp
/rtmidi-2.0.1/doc
/rtmidi-2.0.1/msw
/rtmidi-2.0.1/tests
/rtmidi-2.0.1/Makefile
/rtmidi-2.0.1/*.a
/rtmidi-2.0.1/*.o
/rtmidi-2.0.1/*.so
/rtmidi-2.0.1/*.dylib
/rtmidi-2.0.1/*.log
/rtmidi-2.0.1/config.status
/rtmidi-2.0.1/rtmidi-config
